<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGYC</title>
        <link
          rel="icon"
          type="image/x-icon"
          href="/imagenes/iconos/estrellasBlancas.ico"
        />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <main>
    <div class="container-fluid" id="app"> 
        <div class="container p-4 m-4 w-auto">
        <div class="d-flex align-items-center justify-content-center">
            <div class="card  text-center text-white bg-dark bg-gradient shadow rounded " style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./imagenes/image/LogoSinFondo.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">¡Queremos saber que piensas!</h5>
                        <form id="login-form">
                            <div class="mb-3">
                                <label for="usuario" class="form-label"> Tu Nombre</label>
                                <input type="text" class="form-control" name="usuario" id="usuario" v-model="usuario">
                            </div>
                            <div class="mb-3">
                                <label for="texto" class="form-label">texto</label>
                                <input type="text" class="form-control" name="texto" id="texto" v-model="texto">
                            </div>
                            <div class="mb-3">
                                <label for="imagen" class="form-label">Imagen</label>
                                <input type="text" class="form-control" name="imagen" id="imagen" v-model="imagen">
                                <img width="100" class="m-4" :src="imagen" alt="">
                            </div>
                            <div>
                            <button type="button" class="btn btn-danger fw-bold" v-on:click="grabar()">Grabar</button>
                        </div>
                        </form>
                    </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
    </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous">
</script>
<script src="./js/main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./javascript/comentarios.js"></script>
</body>
</html>