<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ==== Estilos ==== -->
    <link rel="stylesheet" href="style/general.css" />
    <link rel="stylesheet" href="style/mobile.css" />
    <link rel="stylesheet" href="style/tablet.css" />
    <link rel="stylesheet" href="style/desktop.css" />

    <!-- ==== Iconos ==== -->
    <script
      src="https://kit.fontawesome.com/a140bf42cf.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>MAGYC Suplementos</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/imagenes/iconos/estrellasBlancas.ico"
    />
  </head>
  <body>
    <a name="inicio"></a>
    <header class="header header__container">
      <div class="overlay__header"></div>
      <!--EL HEADER CONTAINER TIENE UN WIDTH DEL 100% MAS NO EL CONTAINER DEL MAIN-->

      <nav class="nav__container">
        <div class="nav__container-toggleAndLogo burger-menu">
            <button class="burger-btn">
                <img class="burger-btn" src="imagenes/iconos/bars-solid.svg" alt="">
            </button>        
            <div id="navList" class="burger-nav">
                <button class="close-btn">&times;</button>
                <ul>
                  <li><a class="link" href="#inicio">Inicio</a></li>
                  <li><a class="link" href="#tienda">Tienda</a></li>
                  <li><a class="link" href="#nosotros">Nosotros </a></li>
                  <li><a class="link" href="#suscribite">Suscribite </a></li>
                  <li><a class="link" href="#contactanos">Contactanos</a></li>
                  <li class="item"><a class="link" href="./login.html">Ingresá</a></li>
                </ul>
        </div>
          <div class="logo__header">
            <a class="link" href="#inicio"></a>
            <img 
              class="logo__header-img"  href="#inicio"
              src="imagenes/image/LogoSinFondo.png"
              alt=""/>
          </a>
          </div>
        </div>

        <div class="navigation">
          <ul class="navigation__items">
            <li class="item"><a class="link text-decoration-none" href="#tienda">Tienda</a></li>
            <li class="item"><a class="link text-decoration-none" href="#nosotros">Nosotros </a></li>
            <li class="item"><a class="link text-decoration-none" href="#suscribite">Suscribite </a></li>
            <li class="item"><a class="link text-decoration-none" href="#contactanos">Contactanos</a></li>
            <li class="item"><button type="button" class="btn bg-transparent text-white fw-bold fs-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-user"></i>
            </button></li>
              </li>
          </ul>
        </div>

        <div class="nav__container-cartAndLogin">
        <div class="header-section container-cart">
          <div>
             <img class="cart" id="myImage" onclick="showCart(this)" src="./imagenes/iconos/cart-shopping-solid.svg" alt=""> 
             <p class="count-product">0</p>
          </div>
          <div class="cart-products" id="products-id">
              <p class="close-btn" onclick="closeBtn()">X</p>           <h3>Mi carrito</h3>
              <div class="card-items">
              </div>
              <h2>Total: $<strong class="price-total">0</strong></h2>
          </div>
      </div>
        </div>
      </nav>

      <div class="header__hero">
        <h2 class="header__title">MAGYC<img class="imgprincipal" src="./imagenes/iconos/estrellasBlancas.ico"></h2>
        <small class="small__title"> Impulsate al siguiente nivel</small>
        <div class="header__button">
          <a class="text-decoration-none" href="#contactanos"><button class="btn btn__buyNow">Comprar ahora</button></a>
        </div>
      </div>
    </header>

    <div class="container container__grid">
      <main class="main">

        <section>
           <!-- ------------- MODAL -------------- -->

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content text-center text-white bg-dark bg-gradient">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> Inica Sesion</h5>
                  <button type="button" class="btn-close bg-body" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="login-form">
                        <div class="mb-3">
                            <label for="username" class="form-label ">Username:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-danger fw-bold">Login</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

          <!----------------------- SOBRE NOSOTROS ------------------- -->

          <div class="aboutUS">
          <div class="about__container">
            <h1>
              Nuestro trabajo, Nuestra Pasión
            </h1>
            <div class="about__description">
              <div class="about__paragraph">
                <p class="paragraph">
                  Creemos en el cambio, por eso nuestros productos estén hechos de los más
                  nuevos y mejores ingredientes para crear e impulsar las
                  proteinas en polvo al sigueinte nivel. Alta calidad es nuestra
                  principal denominación. Lo hicimos pensando y conociendo cada
                  una de las necesidades de nuestro clientes.
                </p>
              </div>
            </div>
            <div>
              <a name="tienda"></a>
              <h1>¡Probá la variedad de sabores disponibles en nuestra tienda!</h1>
            </div>
          </div>
        </section>

        <!-- ============== Carousel ======================= -->
        <section class="carousel">
          <div class="wrapper">
            <div class="slider">
                 <div class="slide">
                  <a href="#vainilla"><img src="imagenes/image/vainilla.png" /></a>
                  <a href="#chocolate"><img src="imagenes/image/barrachoco.png" /></a>
                  <a href="#cookiesAndCream"><img src="imagenes/image/cookiesandicecream.png" /></a>
                  <a href="#dulceDeleche"><img src="imagenes/image/dulcedeleche.png" /></a>
                  <a href="#frutilla"><img src="imagenes/image/frutilla.png" /></a>
                 </div>
                 <div class="slide">
                  <a href="#vainilla"><img src="imagenes/image/vainilla.png" /></a>
                  <a href="#chocolate"><img src="imagenes/image/barrachoco.png" /></a>
                  <a href="#cookiesAndCream"><img src="imagenes/image/cookiesandicecream.png" /></a>
                  <a href="#dulceDeleche"><img src="imagenes/image/dulcedeleche.png" /></a>
                  <a href="#frutilla"><img src="imagenes/image/frutilla.png" /></a>
                 </div>
             </div>
       </div>
      </section>
          

        <!--==========Productos para Carrito=================-->

        <section class="container-cart">
          <div class="products-cart">
              <div class="carts">
                  <div>
                      <img  id="vainilla" src="./imagenes/image/envVainillaSF.png" alt="">
                      <p><span>15000</span>$</p>
                  </div>
                  <p class="title">Proteína en polvo sabor Vainilla</p>
                  <a href="" data-id="1" class="btn-add-cart">ver en carrito</a>
              </div>
              <div class="carts">
                  <div>
                      <img id="chocolate" src="./imagenes/image/envChocoSF.png" alt="">
                      <p><span>15500</span>$</p>
                  </div>
                  <p class="title">Proteína en polvo sabor chocolate</p>
                  <a href="" class="btn-add-cart" data-id="2">ver en carrito</a>
              </div>
              <div class="carts">
                  <div>
                      <img id="frutilla" src="./imagenes/image/envFrutillaSF.png" alt="">
                      <p><span>16000</span>$</p>
                  </div>
                  <p class="title"> Proteína en polvo sabor frutilla</p>
                  <a href="" data-id="3" class="btn-add-cart">ver en carrito</a>
              </div>
              <div class="carts">
                  <div>
                      <img id="dulceDeLeche" src="./imagenes/image/envDulceSF.png" alt="">
                      <p><span>16500</span>$</p>
                  </div>
                  <p class="title">Proteína en polvo sabor dulce de leche</p>
                  <a href="" data-id="4" class="btn-add-cart">ver en carrito</a>
              </div>
              <div class="carts">
                  <div>
                      <img id="cookiesAndCream" src="./imagenes/image/envCookieSF.png" alt="">
                      <p><span>17000</span>$</p>
                  </div>
                  <p class="title">Proteína en polvo sabor cookies and cream</p>
                  <a href="" data-id="5" class="btn-add-cart">ver en carrito</a>
              </div>
          </div>
      </section>

      <section class="ourProduct">
          <div class="ourProduct__container">
            <!-- <div class="ourProduct__title">
              <h2 class="ourTitle">Our Product</h2>
              <div class="ourProduct__description">
                <p>
                  Help build muscle and support recovery; with delicious shakes
                  and high-quality protein powders. Gold Standard is available
                  as a powder, drink to go, and in plant protein and isolate
                  formulas.
                </p>
              </div>
              <button class="btn btnAllProduct btnGeneral">
                Todos los productos
              </button>
            </div> -->

            <div class="ourProduct__layout">
              <div class="container__img">
                <div class="top">
                  <a name="suscribite"></a>
                  <div class="items item1">
                    <img
                      src="imagenes/image/gente-que-ejercita-gimnasio.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="bot">
                  <div class="items item2">
                    <img
                      src="imagenes/image/hombre.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="aside">
                  <div class="items item3">
                    <img src="imagenes/image/header.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <div class="container container__2">
      <div class="newsletter">
        <div class="newsletter__container">
          <div class="newsletter__text">
            <h3 class="newsletter__title">Suscribite</h3>
            <div class="newsletter__paragraph">
              <p>
                Te invitamos a conocer sobre nuestras novedades y productos
              </p>
            </div>

            <form class="suscribe">
              <div class="input__container">
                <div class="suscribe__group">
                  <input
                    class="suscribe__input"
                    type="email"
                    placeholder="Your email"
                  />
                </div>

                <button class="btnNewsletter" type="submit">
                  Enviar
                  <img
                    class="input__img"
                    src="imagenes/iconos/arrow-right-solid.svg"
                    alt=""
                  />
                </button>
              </div>
            </form>
          </div>
          <div class="suscribe__img">
            <img
              class="suscribe__img-contend"
              src="./imagenes/image/hombreconenvase.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- ============== Nosotros ================= -->

   <section>
    <a name="nosotros"></a>
    <div class="nosotros">
          <div class="nostros__container">
            <h1>
              Nosotros
            </h1>
            <div class="nosotros__description">
              <div class="nosotros__paragraph">
                <p>
                  ¡Bienvenidos al mundo Magyc! Somos pioneros en nutrición deportiva, ofreciendo proteínas en polvo de la más alta calidad. En Magyc, la excelencia es nuestra filosofía. Nos destacamos por poseer  rigurosos estándares de calidad, innovación constante y un compromiso total con la transparencia. Cada producto lleva consigo la garantía de los mejores ingredientes, seleccionados con cuidado para lograr eficacia.
                </p>
                <p>Nos esforzamos por ir más allá de lo convencional, ofreciéndote no solo productos excepcionales, sino una experiencia que estimula tus sentidos. Creemos en alimentar tu cuerpo con lo mejor para lograr tus objetivos de manera efectiva y deliciosa.

                </p>
                <p>Al unirte a Magyc, te unes a una comunidad comprometida con la excelencia en el rendimiento y el bienestar. Más que productos, ofrecemos un estilo de vida centrado en la salud y la vitalidad.

                </p>
                <p>Gracias por elegir Magyc. Estamos emocionados de ser tu aliado en tu búsqueda de un estilo de vida más saludable y activo.
                </p>
                <h4>El Grupito.
                </h4>
                <h4>Magyc</h4>
                
                <div class="container__iconsBenefits">
                  <div class="iconsBenefits">
                    <img
                      class="benefit__icon-contend"
                      src="imagenes/image/inyeccion.png"
                      alt=""
                    />
                    <h3 class="iconsBenefits-title">Libre de Dopaje</h3>
                  </div>
  
                  <div class="iconsBenefits">
                    <img
                      class="benefit__icon-contend"
                      src="imagenes/image/sin-gluten (2).png"
                      alt=""
                    />
                    <h3 class="iconsBenefits-title">Libre de Gluten</h3>
                  </div>
  
                  <div class="iconsBenefits">
                    <img
                      class="benefit__icon-contend"
                      src="imagenes/image/buena-calidad.png"
                      alt=""
                    />
                    <h3 class="iconsBenefits-title">Calidad Superior</h3>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
        </section>

        <div class="m-3 p-3">  </div>

  <section>
    <div class="container">
      <a name="contactanos"></a>
      <div class="form__container">
        <div class="info-form">
          <h2>Contáctanos</h2>
          <p>
            ¡Tenemos envíos a tu zona!, escríbenos para decirte cual sería el valor de tus productos mas el envío. Igualmente tu opinión es muy valiosa para nosotros. ¿Tienes alguna pregunta, comentario o sugerencia? Estamos aquí para ayudarte. Contáctanos a través del formulario o envía un correo a la direccion de mail que aparece a continuación. ¡Esperamos con interés conocerte y ser parte de tu camino hacia un estilo de vida más saludable con MAGYC Suplementos!
          </p>
          <a href="#"><i class="icon fa-solid fa-phone"></i>11 2233 4455</a>
          <a href="#"
            ><i class="icon fa-solid fa-envelope"></i>Contacto@magyc.com.ar</a
          >
          <a href="#"
            ><i class="icon fa-solid fa-location-dot"></i>Buenos Aires, Argentina</a
          >
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0168881864515!2d-58.3841453255361!3d-34.60373445749684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1694908840355!5m2!1ses-419!2sar"
            width="100%"
            height="150"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <form id="form" class="form__content" autocomplete="off">
          <input
            type="text"
            name="from_name"
            id="from_name"
            placeholder="Tu Nombre"
            class="campo"
          />
          <input
            type="email"
            id="email_id"
            name="email_id"
            placeholder="Tu Email"
            class="campo"
          />
          <textarea
            name="message"
            id="message"
            placeholder="Tu Mensaje..."
            rows="6"
          ></textarea>
          <input
            type="submit"
            id="button"
            name="enviar"
            value="Enviar Mensaje"
            class="btn-enviar"
          />
          <p class="alertas" id="alertas"></p>
        </form>
      </div>
    </div>
  </section>

  <div class="m-5 p-5">  </div>

     <!-- --------- CRUD ------------- -->
  <section>
<div id="app" class="container">
  <h1> ¡Comentarios de Nuestros Clientes!</h1>
  <br>
  <a class="btn btn-danger" href="comentariosNew.html">Comenta</a>
  <br><br>
  <div v-if="error">
  <p>Lo sentimos , ........</p>
  </div>
  <div v-else>
  <section v-if="cargando">
  <div class="spinner-border"></div>
  <p>Cargando .....</p>
  </section>
  <section v-else>
  <!-- ------------------ CARDS !!------------- -->
  
  <div class="container m-4 p-1 w-auto">
  <div class="card shadow p-3 mb-5 bg-body rounded-4" v-for="comentario in comentarios" >
      <div class="card-header">
      <div class="d-flex align-items-center">
          <div class="flex-shrink-0 ">
      <img width="60" :src="comentario.imagen" :alt="comentario.usuario">
         </div>
         <div class="flex-grow-1 ms-3">
      <h5>{{comentario.usuario}}</h5>
         </div>
      </div>
      </div>
      <div class="card-body">
        <h5 class="card-text">{{comentario.texto}}</h5>
        <div id="yourDiv">
        <a class="btn btn-danger m-4" :href="'comentarioUpdate.html?id='+ comentario.id" >Editar</a>
  <button type="button" class="btn btn-outline-danger" v-on:click="eliminar(comentario.id)" >Eliminar</button>
    </div>
    </div>
    </div> 
  </div>
  </section>
  </div>
  </div>
  </section>

    <a href="#inicio" class="btn-showcart fs-6 text-decoration-none"> ¡Revisa tu carrito!</a>

    <footer class="footer">
      <div class="footer__container">
        <div class="footer__social">
          <div class="socialMedia__container">
            <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><img
              class="imgSocialMedia"
              src="imagenes/iconos/whatsapp.svg"
              alt=""
            /></a>
            <a href="https://twitter.com/" target="_blank"><img
              class="imgSocialMedia"
              src="imagenes/iconos/x-twitter.svg"
              alt=""
            /></a>
            <a href="https://www.instagram.com/" target="_blank"><img
              class="imgSocialMedia"
              src="imagenes/iconos/instagram.svg"
              alt=""
            /></a>
          </div>
          <small class="smallSocialTitle">
            ¡Síguenos en nuestras redes sociales!
          </small>
        </div>

        <div class="footer__nav">
          <ul class="nav__fotterItems">
            <li class="itemsFooterNav">
              <p><a href="#inicio">Inicio</a></p>
            </li>
            <li class="itemsFooterNav">
              <p><a href="#tienda">Tienda</a></p>
            </li>
            <li class="itemsFooterNav">
              <p><a href="#nosotros">Nosotros</a></p>
            </li>
            <li class="itemsFooterNav">
              <p><a href="#suscribite">Sucribite</a></p>
            </li>
            <li class="itemsFooterNav">
              <p><a href="#contactanos">Contactanos</a></p>
            </li>
          </ul>
        </div>
      </div>

      <p class="derechosReservados">
        &copy; 2023 El grupito. Todos los derechos reservados.
      </p>
    </footer>

    <!-- ==== Formulario ==== -->
    <script src="scripts.js"></script>
    <script src="javascript/shopping_cart.js" ></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>

    <script type="text/javascript">
      emailjs.init("4a4CqdFklx-3XzYCp");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="javascript/productos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script><!-- Link de Bootstrap-->
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./javascript/comentarios.js"></script>
    <script src="javascript/login.js"></script>
  </body>
</html>
