@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&family=Koh+Santepheap:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Sora", sans-serif;
}

.toggle__menu-img {
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.logo__header-img {
  width: 100px;
  height: 80px;
}

.cart__header-img {
  width: 25px;
  height: 20px;
}
.login__header-img {
  width: 25px;
  height: 20px;
}

.nav__container-toggleAndLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__container-cartAndLogin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.generalBTN {
  display: block;
  padding: 1rem;
  border-radius: 8px;
  color: var(--White, #fff);
  font-family: Sora;
  background: var(--Red, #9a0000);
  letter-spacing: 2px;
}

/* estilos generales para el carousel */

.points__container {
  display: flex;
  justify-content: center;

  .nav__carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 70%;

    .point {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(209, 202, 202);
    }
  }
}

/* estilos generales de las card para el carouse */

.card__img img {
  width: 170px;
  height: 200px;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2f6;
  border-radius: 10px;
}

.small__titleProduct {
  text-align: center;
  font-family: Sora;
}

.title {
  font-family: Sora;
  text-align: center;
  font-weight: 600;
}

.price__paragraph {
  font-family: Sora;
}

.addBTN {
  margin-bottom: 0.5rem;
  padding: 10px;
}

.ourProduct {
  /*
  height: 100vh;*/
}

.items {
  height: 100%;
}

.items img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.benefit__icon-contend {
  width: 40px;
  height: 40px;
}

.btnGeneral {
  width: 10rem;
  padding: 1rem;
  display: block;
  padding: 1rem;
  border-radius: 8px;
  color: var(--White, #fff);
  font-family: Sora;
  background: var(--Red, #9a0000);
  letter-spacing: 2px;
  margin-top: 1.5rem;
}

.suscribe__img-contend {
  width: 100px;
  height: 100px;
}

.input__img {
  width: 25px;
  height: 25px;
}

.img__contact {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.imgSocialMedia {
  width: 35px;
  height: 35px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.formulario {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  border-radius: 10px;
  background-color: #222f3e;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-family: Sora;

  .container__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    .campo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 1;
      gap: 0.5rem;
      padding: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: teal;
      border: 1px solid rgba(255, 255, 255, 0.341);
    }

    .campo input {
      flex: 1;
      padding: 0.5rem;
      font-size: 1rem;
      border: none;
      outline: none;
      background-color: #222f3e;
      color: #fff;
    }

    .campo input::placeholder {
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      text-align: center; /* Centrar horizontalmente */
      line-height: inherit;
    }

    .campo label {
      font-size: 1rem;
    }

    .opciones {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem 0;
      width: 100%;

      .btnModal {
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        color: #fff;
        background-color: #576574;
        padding: 1rem;
        transition: all ease 500ms;

        &:hover {
          cursor: pointer;
          border: 1px solid wheat;
          background-color: #7d91a6;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.formulario.animar {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: transform 1000s ease, all 0.4s ease;
}

.formulario.cerrar {
  transform: translateY(-200%);
  opacity: 0;
}

textarea {
  flex: 1;
  border: none;
  border-radius: 0;
  resize: none;
  max-width: 300px;
  max-height: 200px;
  min-height: 50px;
  background-color: #222f3e;
  color: #fff;
  font-size: 1rem;
  outline: none;
  @media (min-width: 1024px) {
    width: 500px;
    max-width: 500px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 500px;
    max-width: 350px;
  }
}

textarea::placeholder {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  text-align: center; /* Centrar horizontalmente */
  line-height: inherit;
}
