@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&family=Koh+Santepheap:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Sora", sans-serif;
}

.toggle__menu-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logo__header-img {
  width: 100px;
  height: 80px;
}

.cart__header-img {
  width: 30px;
  height: 30px;
}
.login__header-img {
  width: 30px;
  height: 30px;
}

.nav__container-toggleAndLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__container-cartAndLogin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
