.navigation {
  display: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.nav__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  height: 100px;
}
